body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: #212121;
}
a {
    text-decoration: none;
    display: block;
    color: #212121;
}
.page {
    width:100%;
    height: 40px;
    text-align: center;
    display: table;
    margin: 0 auto;
}
.page-list {
    height: 40px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.page-list li {
    background-color: #9DD6C5;
    float: left;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    margin-right: 5px;
}
.select {
    background-color: #D4E1DA;
    border-radius: 40px;
}
.clear {
    clear: both;
}